.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem 0 2rem;
}

.title {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: bold !important;
}

.search {
  width: 64rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.results {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}

.album {
  min-width: 0;
  position: relative;
  height: 14rem;
}

.album-img {
  object-fit: cover;
}

.album-details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 0.5rem;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.25rem;
  text-align: right;
}

.album-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold !important;
}

.idAlbum{
  display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 8rem;
}

.descriptionAlbum{
  display: flex;
  gap: 20px;

}

.decriptionAlbumId{
  display: flex;
}

.tracks{
  display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.itemsTracks{
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
}

.inputSearch{
  padding: 0px 8%;
}

.inputText{
  width: 100%;
  height: 30px;
  border-radius: 4px;
  border: none;
  background: #fefe;
  padding: 0px 2%;
}

.backgroundGrey{
  background: #fefe;
}

.numberTrack{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  font-size: 21px;
}

